@font-face {
  font-family: "iconfont"; /* Project id 2348684 */
  src: url('iconfont.woff2?t=1644077484208') format('woff2'),
       url('iconfont.woff?t=1644077484208') format('woff'),
       url('iconfont.ttf?t=1644077484208') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shaixuan:before {
  content: "\e87a";
}

.icon-fanhui:before {
  content: "\e610";
}

.icon-lajixiang:before {
  content: "\e605";
}

.icon-bianji:before {
  content: "\e630";
}

.icon-shanchu:before {
  content: "\e615";
}

